@charset "UTF-8";

@media  screen and (min-width: 768px) and (max-width: 992px) {

    div#img {
        background-image: url(../imagens/contru.png);
        margin-left: -6%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 94vh;
        height: 76vh;
    }

    div.img1 {
        background-image: url(../imagens/portal.png);
        margin-left: 5%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50vh;
        height: 26vh;
    }

    div.img0 {
        background-image: url(../imagens/ideação1.jpg);
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        width: 70vh;
        height: 50vh;
    } 

}









/*@media  screen and (min-width: 500px) and (max-width: 768px){
    div#img {
        display: none;
    }

    div.img1 {
        display: none;
    }

    div.img3 {
        background-image: url(../imagens/portal.png);
        margin-left: 21%;
        background-repeat: no-repeat;
        background-size: contain;
        width: 45vh;
        height: 26vh;
    }

    div#text1 {
        padding-left: 0px;
        padding-right: %;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 110%;
    }
    
}*/