@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap');

:root {
    --cor1: #200e38;
    --cor2: #6a0e47;
    --cor3: #b50d57;
    --cor4: #ff0d66;
    --cor5: #dec790;
}


* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*NAVEGAÇÃO*/
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
}

nav {
    background-color: var(--cor1);
}

nav a {
    text-decoration: none;
    color: white;
}

li a {
    padding: 10px;
}

a:hover {
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;
    transition: 0.5s;
}
/*APRESENTÇÃO*/
section#apresentacao {
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
}

#apresentacao h1, p {
    padding: 5px 43px;
}

section#texto {
    margin-top: 50px;
}

#apresentacao h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#apresentacao p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    
}

div#img {
    background-image: url(../imagens/contru.png);
    margin-left: -6%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 94vh;
    height: 76vh;
}
/*PORTAIS*/
section#pot {
    text-align: center;
    height: 70vh;
}

section#pot h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px;
}

div.img0 {
    background-image: url(../imagens/ideação1.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70vh;
    height: 50vh;
} 

section.portais {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
}

div.img1 {
    background-image: url(../imagens/portal.png);
    margin-left: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vh;
    height: 26vh;
}

section.portais p {
    padding-left: 40px;
    padding-right: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
}

section.portais h1 {
    color: #200e38;
    padding: 10px;
    padding-left: 40px;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}