@charset "UTF-8";

:root {
    --cor1: #200e38;
    --cor2: #6a0e47;
    --cor3: #b50d57;
    --cor4: #ff0d66;
    --cor5: #fcfaf6;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
}

nav#navegacao {
    width: 100%;
    height: 50px;
    background-color: var(--cor1); 
}

nav a {
    text-decoration: none;
    color: white;
}

li a {
    padding: 10px;
}

a:hover {
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}

section {
    margin: 30px 90px 50px 90px;
}

section h1 {
    color: var(--cor1);
}

footer.rodape {
    background-color: #200e38;
    color: white;
    text-align: center;
    padding: 17px;
}